# Deep feature Synthesis

 import library 
 if featuretools is not recognized. Install featuretools using `pip install featuretools`

In [27]:
import featuretools as ft

In [29]:
es = ft.demo.load_mock_customer(return_entityset=True)

In [30]:
# display entity set and relation
es

Entityset: transactions
  Entities:
    transactions [Rows: 500, Columns: 5]
    products [Rows: 5, Columns: 2]
    sessions [Rows: 35, Columns: 4]
    customers [Rows: 5, Columns: 3]
  Relationships:
    transactions.product_id -> products.product_id
    transactions.session_id -> sessions.session_id
    sessions.customer_id -> customers.customer_id

### Feature creation on customer entity
 Later change customers to sessions and see ease of feature creation on different entity

In [31]:
    # create features on target entity with progress status 
    feature_matrix, c = ft.dfs(entityset=es,
                                          target_entity="customers",
                                          verbose=True,
                                          max_depth=1)

Built 8 features
Elapsed: 00:00 | Remaining: 00:00 | Progress: 100%|████████████████████████████████████████████| Calculated: 1/1 chunks

### See feature definations

In [23]:
feature_defs

[<Feature: customer_id>,
 <Feature: device>,
 <Feature: SUM(transactions.amount)>,
 <Feature: STD(transactions.amount)>,
 <Feature: MAX(transactions.amount)>,
 <Feature: SKEW(transactions.amount)>,
 <Feature: MIN(transactions.amount)>,
 <Feature: MEAN(transactions.amount)>,
 <Feature: COUNT(transactions)>,
 <Feature: NUM_UNIQUE(transactions.product_id)>,
 <Feature: MODE(transactions.product_id)>,
 <Feature: DAY(session_start)>,
 <Feature: YEAR(session_start)>,
 <Feature: MONTH(session_start)>,
 <Feature: WEEKDAY(session_start)>,
 <Feature: customers.zip_code>]

### See feature table

In [24]:
feature_matrix

,zip_code,COUNT(sessions),NUM_UNIQUE(sessions.device),MODE(sessions.device),DAY(join_date),YEAR(join_date),MONTH(join_date),WEEKDAY(join_date)
customer_id,,,,,,,,
1,60091,10,3,desktop,1,2008,1,1
2,02139,8,3,mobile,20,2008,2,2
3,02139,5,2,desktop,10,2008,4,3
4,60091,8,3,desktop,30,2008,5,4
5,02139,4,3,tablet,19,2008,7,5

## Thank you
Please share feedback [email](mailto:rahul.mahendra2009@gmail.com)